/*==============================Google Fonts ======================= */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);


/* ===========================Variables======================= */

:root {
    --accent-color: #a8858f;
    --background-color: #302729;
    --background-color-2: #362b2e;
    --light-grey: rgb(194, 194, 194);
    --border-radius: 30px;
  }

  /* ===========================scroll bar ================================ */

  ::-webkit-scrollbar{
    width: 8px;
  }

  ::-webkit-scrollbar-track{
    background: transparent;
  }

  ::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 10px;
  }

.content:hover::-webkit-scrollbar-thumb{
    background: var(--light-grey);
}


/*==================================Base ======================== */
*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

html{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: var(--accent-color);
}

p{
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

h1{
    line-height: 4rem;
}


h2{
    line-height: 2rem;
    font-weight: normal;
}


/*=======================class col-2============================= */
.col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


/* ============================ menu ===================== */

.menu{
display: flex;    
flex-direction: column;
align-items: center;
justify-content: center;
order: 2;
background: #fff;
width: 70px;
margin-left: 20px;
border-radius: 35px;
padding: 15px 0;
box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);

}

.menu-icon{
    font-size: 2rem;
    color: var(--light-grey);
    margin: 15px;
}

.menu-icon:hover{
    color: var(--accent-color);
}

/*=============================Portfolio Container ==================== */

.portfolio{
    display: flex;
    background: var(--background-color-2);
    height: 80vh;
    width: 85vw;
    max-width: 1200px;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);

}

/*===========================Header =============================== */
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 100%;
    border-radius: var(--border-radius);
    color: #fff;
    overflow: auto;
}

.header-img{
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin: 10px;
    margin-top: 100px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);

}

.header h1 {
    font-size: 2.5rem;
}

.header h2{
    font-size: 1rem;
}

.social{
    margin: 20px;
}

.social a{
    color: white;
    margin: 0 10px;
    transition: 0.2s linear;
    transition-property: var(--background-color);
}

.social a:hover{
    color: var(--accent-color);
    transition: 0.2s linear;
    transition-property: var(--background-color);
}

.header .cta{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.274);
    padding: 10px 20px;
    margin: 50px 0;
    border-radius: 30px;
    transition: 0.2s linear;
    transition-property: background-color , color;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.header .cta:hover{
    color: var(--accent-color);
    background-color: #fff;
    transition: 0.2s linear;
    transition-property: background-color, color;
}


/*============================== Content ============================ */

.content{
    border-radius: var(--border-radius);
    background : #fff;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.content-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0 50px;
}

/* ============================ Home ========================= */
.home h1{
    font-size: 3.5rem;
    font-weight: bolder;
    text-align: center;
    margin: 20px;
}

/*===============================About =========================== */
.about{
    display: flex;
    flex-direction: column;
}

.about-item{
    width: 100%;
    margin: 0.5rem 0;
}

.language{
    margin-bottom: 15px;
}

.language p{
    margin: 0;
}

.bar{
    background: rgba(0, 0, 0, 0.1);
    display: block;
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
}

.bar span{
    height: 8px;
    float: left;
    background: var(--background-color);
}

.polish{
    width: 75%;
}

.English{
    width: 75%;
}

.French{
    width: 50%;
}


.skills{
    background-color: var(--accent-color);
    color: #fff;
    line-height: 35px;
    padding: 5px 10px;
    border-radius: 15px;
}

/*==================================== Project Section ======================== */
.project-list{
    margin: 20px 0;
}

.project-tile{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: var(--light-grey);
    color: transparent;
    width: 100%;
    height: 300px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.project-tile img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        filter: contrast(70%) brightness(110%) grayscale(20%);
}

.overlay{
    background: #a8858fe0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 0%;
    height: 100%;
    color: #fff;
    z-index: 2;
    transition: 0.5s ease;
}

.project-description{
    line-height: normal;
    max-width: 200px;
    margin: 20px;
    position: absolute;
    left: -250px;
    transition: 0.5s ease;
}

.project-tile:hover .overlay{
    width: 100%;
    cursor: pointer;
    transition: 0.5s ease;
}

.project-tile:hover .project-description {
    width: 100%;
    cursor: pointer;
    transition: 0.2s ease;
}


/* ================================= experience ================================ */
.timeline{
    position: relative;
}

.timeline::before{
    
}